#main 
{
	height: 100%;
}

.tableTopSeparator > td
{
	border-top: 1px solid black !important;
}

td 
{
	vertical-align: text-top;
}

.bold
{
	font-weight: bold;
}

.totalSeparator > td
{
	border-top: 1px solid gray !important;
}

.borderRight
{
	border-right: 1px solid gray !important;
}