#main 
{
	height: 100%;
}

th
{
	border-bottom: 1px solid black !important;
}

.tableTopSeparator > tbody > td
{
	border-top: 1px solid black !important;
}

td 
{
	vertical-align: text-top;
}

.bold
{
	font-weight: bold;
}

.totalSeparator > tbody > td
{
	border-top: 1px solid gray !important;
}